#widget-container h2 {
    color: var(--theia-ui-font-color1);
    font-size: 12px;
    font-weight: 400;
    padding: 10px;
    text-transform: uppercase;
}

.theia-widget-tab-icon {
    -webkit-mask: url('fava-theia-icon.svg');
    mask: url('fava-theia-icon.svg');
}
